* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #d2ebe8;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 0;
}

.cabecalho-imagem{
    width: 4000px;
    height: 800px;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 20px;
}

.escola-imagem{
    width: 25%;
}

.escola{
    background-image: linear-gradient( #d2ebe8,#16CFF8);
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.escola-div-conteudo{
    width: 55%;
}
.escola-titulo{
    padding: 40px 5;
}